body {
    width: 100%;
    height: 100vh;
    display: flex;
}

.sidebar {
    width: 20%;
    height: 100%;
    background: #FF7A00;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar img {
    width: 50%;
    padding: 20px 0;
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
}

.side_item {
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: 20px auto;
    transition: transform 1s ease;
    text-decoration: none;
}

.active {
    color: black;
}

.side_item:hover {
    color: black;
}

.side_item:active {
    color: grey;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news_create_btn {
    text-decoration: none;
    color: #FF7A00;
    font-size: 20px;
    font-weight: bold;
    margin: 100px 0;
}

.news_container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.news-box {
    width: 480px;
    height: auto;
    overflow: hidden;
    cursor: pointer;
    margin: 50px;
}

.news-box a {
    text-decoration: none;
    color: black;
}

.news-box img {
    width: 100%;
    height: 320px;
    transform-origin: center center;
    object-fit: cover;
}

.news-tag {
    font-size: 20px;
    margin: 20px 0;
}

.news-title {
    font-size: 25px;
    font-weight: bold;
}


