<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>Login</title>
</head>
<body>
    <div class="login_container">
        <h2 class="title">Login</h2>
        <!-- 로그인 폼 -->
        <form action="/loginProc" method="post">
            <input type="text" id="username" name="username" placeholder="ID" required>
            <input type="password" id="password" name="password" placeholder="PASSWORD" required>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <label class="check_text"> </label>
            <button type="submit">Login</button>
        </form>

        <!-- 회원가입으로 이동하는 링크 -->
        <p>Don't have an account? <a th:href="@{/register}">Sign Up</a></p>
    </div>
</body>
</html>