<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/product-create.css}">
  <title>Dashboard</title>
</head>
<body>
<div class="sidebar">
  <img th:src="@{/img/mainlogo.png}" />
  <div class="name" th:text="${username}"></div>
  <a th:href="@{/dashboard}" class="side_item">Home</a>
  <a th:href="@{/dashboard/news}" class="side_item">News</a>
  <a th:href="@{/dashboard/product}" class="side_item active">Product</a>
</div>
<div class="main">
  <div class="product_create_container">
    <form id="editForm" th:action="@{/manage/product-edit}" method="post" enctype="multipart/form-data">
      <input type="hidden" name="productId" th:value="${product.id}"> <!-- 뉴스의 ID를 숨은 필드로 전달 -->
      <label for="title">제목</label>
      <input type="text" id="title" name="title" th:value="${product.title}" required>

      <label for="description">설명</label>
      <input type="text" id="description" name="description" th:value="${product.description}">

      <label for="imgFile">이미지</label>
      <input type="file" id="imgFile" name="imgFile" accept="image/*" onchange="previewImage(this)">

      <div id="imagePreview">
        <img th:src="${product.imgPath}" alt="Preview" th:if="${product.imgPath}">
      </div>

      <label for="content">내용</label>
      <textarea id="content" name="content" rows="30" required th:text="${product.content}"></textarea>


      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

      <button type="submit">수정하기</button>
      <button type="button" onclick="deleteNews()">삭제하기</button>
    </form>
  </div>
</div>
<script>
  // 파일 입력의 변경 이벤트를 감지하여 이미지 미리보기를 업데이트하는 함수
  function previewImage(input) {
    var imagePreview = document.getElementById("imagePreview");

    // 선택된 파일이 없으면 미리보기를 초기화합니다.
    if (input.files.length === 0) {
      imagePreview.innerHTML = "";
      return;
    }

    // 선택된 파일의 첫 번째 파일을 읽습니다.
    var reader = new FileReader();
    reader.onload = function (e) {
      // 미리보기 이미지를 업데이트합니다.
      imagePreview.innerHTML = '<img src="' + e.target.result + '" alt="Preview">';
    };
    reader.readAsDataURL(input.files[0]);
  }

  function deleteNews() {
    var confirmation = confirm("제품글을 삭제하시겠습니까?");
    if (confirmation) {
      var form = document.getElementById("editForm");
      form.method = "POST"; // 원하는 메소드로 변경 (PUT 또는 DELETE)
      form.action = "/manage/product-delete"; // 뉴스 삭제를 처리하는 엔드포인트로 변경
      form.submit();
    }
  }
</script>
</body>
</html>
